<h1>New regular_operating_time</h1>

<% form_for(@regular_operating_time) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'entryform', :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', regular_operating_times_path %>
