/******** Index ********/

.table {
  background-color: #EEEEEE;

  border: 1px solid black;
  margin: 1px;
  width: 100%;
  position: relative;
}
.headerRow, .placeRow {
  clear: both;
  height: 2em;
  line-height: 2em;
  position: relative;
  padding-left: 5px;
}

.placeRow .placeLink {
  position: absolute;
  left:0;right:0;top:0;bottom:0;
  width:auto;height:auto;

  z-index: 2;
}

.header, .placeData {
  width: 16%; /* 3*16 = 48% ; dependencies: .dayGraph; places_helper.vertical_now_indicator */
  height: 2em;
  float: left;
}

.dayGraph {
  position: relative;
  float: left;
  height: 2em;
  width: 52%; /* dependencies: .header,.placeData; places_helper.vertical_now_indicator */
  background-color: #EEEEEE;
}

.headerRow + .placeRow .dayGraph {
  margin-top: -1px;
  border-top: 1px solid black;
}

.placeRow .dayGraph {
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.dayGraph .labels {
  z-index: 2;
  text-align: center;
}

.dayGraph .timeblock {
  position: absolute;
}

.dayGraph .data .timeblock {
  top: 10%; bottom: 10%;
  height: auto;
}

.verticalNowIndicator {
  position: absolute;
  background-color: red;
  width:2px;
  height:100%;
  z-index: 1;
}


/* Alternating colors for hour labels */
.dayGraph .labels .color1 {
  background-color: #000000;
  color: #FFFFFF;
}

.dayGraph .labels .color2 {
  background-color: #EEEEEE;
  color: #000000;
}


.placeOpen {
  background: #79FC4E;
  color: #000000;
}

.placeClosed {
  background: #FF7575;
  color: #000000;
}


.placeOpen:hover,
.placeOpen:hover .dayGraph .timeblock {
  background: #48FB0D;
}

.placeClosed:hover,
.placeClosed:hover .dayGraph .timeblock {
  background: #FF4848;
}


.placeOpen .timeblock,
.placeClosed .timeblock {
  background: #79FC4E;
}


.placeOpen:hover .dayGraph {
  background: #99FD77;
}

.placeClosed:hover .dayGraph {
  background: #FF9797;
}




/******  Weekly Schedle *******/
.weekSchedule {
  position: relative;
  clear: both;
  height: 42em; /* Header + Data heights */
}

.weekSchedule .header,
.weekSchedule .header .labelColumn,
.weekSchedule .header .dayColumn {
  height: 2em;
  line-height: 2em;
}

.weekSchedule .header .labelColumn,
.weekSchedule .header .dayColumn {
  border-color: black;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.weekSchedule .header .labelColumn {
  height: 2em;
  float: left;
  background-color: #EEEEEE;
  padding: 0 1px 1px 0;
  border-color: black;
  border-style: solid;
  border-width: 1px 0 0 1px;
}

.weekSchedule .header,
.weekSchedule .data {
  position: absolute;
  left:  0;
  right: 0;
  width: auto;
}

.weekSchedule .data {
  top: 2em;
}

.weekSchedule .data .labelColumn {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
.weekSchedule .data .dayColumn {
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}

.weekSchedule .data,
.weekSchedule .labelColumn,
.weekSchedule .dayColumn {
  height: 40em;
}

.weekSchedule .labelColumn,
.weekSchedule .dayColumn {
  background-color: #EEEEEE;
  position: relative;
  float: left;
  text-align: center;
}

.weekSchedule .dayColumn {
  width: 10%;
}

.weekSchedule .dayColumn .timeblock {
  background-color: #79FC4E;
  border: 1px solid black;

  position: absolute;
  width: auto;
  left: 10%;
  right: 10%;

  text-align: center;
}

.weekSchedule .dayColumn .timeblock .opensat {
  text-align: left;
  margin-left: 10%;
}

.weekSchedule .dayColumn .timeblock .closesat {
  position: absolute;
  left: 0;right: 0; width: auto;
  text-align: right;
  margin-right: 10%;

  bottom: 0;
}

.weekSchedule .labelColumn {
  width: 20px;
  z-index: 2;
}

.weekSchedule .header .dayColumn {
  font-size: 1em;
  font-weight: bold;
  border-right: 1px solid black;
}

/* Alternating colors for hour labels */
.weekSchedule .labelColumn .color1 {
  background-color: #000000;
  color: #FFFFFF;
}

.weekSchedule .labelColumn .color2 {
  background-color: #EEEEEE;
  color: #000000;
}

.weekSchedule .nowIndicator {
  position: absolute;
  background-color: red;
  height:2px;
  width:100%;
  z-index: 1;
}
/****** END Weekly Schedle *******/

/****** Tag Cloud *******/
.tagCloud {
  position: relative;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;

  border: 1px solid black;
  padding: 5px;
}
.tagCloud a {
  text-decoration: none;
  color:black;
  background-color:none;
}
.tagCloud .size1 {font-size: 1.0em;}
.tagCloud .size2 {font-size: 1.2em;}
.tagCloud .size3 {font-size: 1.4em;}
.tagCloud .size4 {font-size: 1.6em;}
.tagCloud .size5 {font-size: 1.8em;}
.tagCloud .size6 {font-size: 2.0em;}
.tagCloud .selectedTag {font-size: 1.0em;}

/****** END Tag Cloud *******/
