table tr td,
table tr th {
  padding: 7px;
  width: 12%
}

table {
  border-collapse: collapse;
  position: relative;
  width: 100%;
}

.placeOpen {
  background: #79FC4E;
  color: #000000;
}
.placeOpen:hover {
  background: #48FB0D;
}
.placeClosed {
  background: #FF7575;
  color: #000000;
}
.placeClosed:hover {
  background: #FF4848;
}

.daygraph {
  background-color: #FFFFFF;
  width: 50%;
}

.daygraph div {
  position: relative;
  height: 18px;
}

.daygraph div div {
  position: absolute;
  height: 18px;
}


.placeOpen div div {
  background: #79FC4E;
}

.placeClosed div div {
  background: #79FC4E;
}


.placeOpen:hover .daygraph div div {
  background: #48FB0D;
}

.placeOpen:hover .daygraph {
  background: #99FD77;
}

.placeClosed:hover .daygraph div div {
  background: #FF4848;
}

.placeClosed:hover .daygraph {
  background: #FF9797;
}




/******  Weekly Schedle *******/
.weekSchedule {
  position: relative;
  clear: both;
  height: 42em; // Header + Data heights
}

.weekSchedule .header,
.weekSchedule .header .labelColumn,
.weekSchedule .header .dayColumn {
  height: 2em;
  line-height: 2em;
}

.weekSchedule .header .labelColumn,
.weekSchedule .header .dayColumn {
  border-color: black;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.weekSchedule .header .labelColumn {
  height: 2em;
  float: left;
  background-color: #EEEEEE;
  padding: 0 1px 1px 0;
  border-color: black;
  border-style: solid;
  border-width: 1px 0 0 1px;
}

.weekSchedule .data {
  position: absolute;
  left:  0;
  right: 0;
  width: auto;
}

.weekSchedule .data .labelColumn {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
.weekSchedule .data .dayColumn {
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}

.weekSchedule .data,
.weekSchedule .labelColumn,
.weekSchedule .dayColumn {
  height: 40em;
}

.weekSchedule .labelColumn,
.weekSchedule .dayColumn {
  background-color: #EEEEEE;
  position: relative;
  float: left;
  text-align: center;
}

.weekSchedule .dayColumn {
  width: 10%;
}

.weekSchedule .dayColumn .timeblock {
  background-color: #79FC4E;
  position: absolute;
  width: auto;
  left: 10%;
  right: 10%;
}

.weekSchedule .labelColumn {
  width: 20px;
  z-index: 2;
}

.weekSchedule .header .dayColumn {
  font-size: 1em;
  font-weight: bold;
  border-right: 1px solid black;
}

/* Alternating colors for hour labels */
.weekSchedule .labelColumn .color1 {
  background-color: #000000;
  color: #FFFFFF;
}

.weekSchedule .labelColumn .color2 {
  background-color: #EEEEEE;
  color: #000000;
}

.weekSchedule #nowIndicator {
  position: absolute;
  background-color: red;
  height:2px;
  width:100%;
  z-index: 1;
}
/****** END Weekly Schedle *******/

/****** Tag Cloud *******/
.tagCloud {
  width: 25%;
  border: 1px solid black;
  padding: 5px;
}
.tagCloud a {
  text-decoration: none;
  color:black;
  background-color:none;
}
.tagCloud .size1 {font-size: 1.0em;}
.tagCloud .size2 {font-size: 1.2em;}
.tagCloud .size3 {font-size: 1.4em;}
.tagCloud .size4 {font-size: 1.6em;}
.tagCloud .size5 {font-size: 1.8em;}
.tagCloud .size6 {font-size: 2.0em;}

/****** END Tag Cloud *******/
