<ul>
<% for place in @places %>
  <% if (open = place.open?) %>
  <li class="placeOpen">
  <% else %>
  <li class="placeClosed">
  <% end %>
    <%= link_to place.name, place %></td>
  </li>
<% end %>
</ul>
